div.content-wrapper 
  .footer-contact
    a(href="mailto:aleksandrovamaryna@gmail.com") Get in touch
    |  with me for hire, project discussion, collaboration or simply a cup of coffee in Hong Kong.