header.main-header
  nav.content-wrapper
    h1.name
      a(href="/index.html", title="Maryna Aleksandrova, designer")
        img(src="ma-logo.png")
    ul
      li
        a(href="/CV2022-MarynaAleksandrova.pdf", target="_blank") CV
      li
        a(href="https://www.linkedin.com/in/marynaaleksandrova", target="_blank") Linkedin