doctype 5
html(lang="en")

  include head 

  body.index
    
    include header

    section.content
      
      section.about.section
        .content-wrapper
          h1 Hi, I'm Maryna.
          p.name-spelling /marina/
          div.intro
            p Visual and Experience designer based in Hong Kong.

            p For the past 5 years I have been leading the design direction of a data viz SaaS platform. My expertise lies in creating custom user interfaces for data manipulation, data representation and data analysis; creating and maintaining a design system; collaborating with stakeholders to identify product development direction and feature prioritization.

            p The majority of my professional experience comes from working in startups and/or remote teams. I’m used to taking on responsibility, working in a high-paced and quickly-changing environment, and delivering results. I’m goal-oriented and focused on the best solution to any given problem.

          p
            a(href="mailto:hello@marynaaleksandrova.info").hello-link Say hello
            |.

      section.projects.section.content-wrapper
        h1.section-title Projects

        div.zectr-brand
          include proj-zectr-brand

        div.zectr-sgen
          include proj-zectr-sgen

        div.zectr-app
          include proj-zectr-app

        div.zectr-io-redesign
          include proj-zectr-io-redesign

        div.ux-workshop
          include proj-ux-workshop

        div.dataviz
          include proj-dataviz

        div.cyclic.third-large
          include proj-cyclic

        div.lifelines
          include proj-lifelines

        div.ctfo
          include proj-ctfo

        div.goostame
          include proj-goostame

        div.hashobject
            include proj-hashobject

      include footer-contact