doctype 5
html(lang="en")
  head
    title Portfolio
    link(rel="stylesheet", href="index.css")
    script(src="app.js")
    //- script(type='text/javascript')
    //-   if (foo) {
    //-      bar()
    //-   }
  body
    h1 Jade - node template engine
    p Change