doctype 5
html(lang="en")

  include head 

  body.ux-workshop
    
    include header

    section.content

      header.project-header.content-wrapper
        h1.project-title UX workshop
        p.project-description Workshop with in-house team.

      section.project-overview
        div.content-wrapper
          div.info
            h1 Situation
            p Product team had several uncertainties in regards to some of the product development features. 
            p In order to find answers I initiated UX workshop with in-house service team.

          div.info
            h1 Task
            p To run a UX workshop with an in-house Service team to identify high-level patterns, concepts and modules in preparation for a development stage of the project. 

          div.info
            h1 Year
            p 2021

      section.workshop-process
        .content-wrapper
          div.quarter
            img(src="img/ux-workshop/ux1.jpg")
          div.quarter
            img(src="img/ux-workshop/ux2.jpg")
          div.quarter
            img(src="img/ux-workshop/ux3.jpg")
          div.quarter
            img(src="img/ux-workshop/ux4.jpg")

      section.findings
        div.content-wrapper
          .info
            p In preparation for the workshop I pulled up examples of the work team has done recently. The agenda was structured loosely around those examples &ndash; an invitation for the team to solve those exact same problems, but in "ideal" scenario. It helped participants to get creative and involved, to dream of the "most perfect" solution, identify patterns, agree on workflows.
            p It turned out to be a good approach for this particular team. By the end of the workshop each member had marker in their hands and actively communicated threir ideas through drawing concepts and modules.
            p As a result, I was able to distill several key insights.
            p Given recommendations to the development team lead to a more expected and predictable outcome.
          .info
            img(src="img/ux-workshop/findings.jpg")
          .info

    footer
      .content-wrapper
        h1.section-title Other projects
        include proj-dataviz.jade
        include proj-zectr-app.jade
        include proj-zectr-sgen.jade
        include proj-zectr-brand.jade

      include footer-contact
