doctype 5
html(lang="en")

  include head 

  body.zectr-io
    
    include header

    section.content

      header.project-header.content-wrapper
        h1.project-title Zectr.io
        p.project-description Existing website update &amp; redesign.

      section.project-overview
        div.content-wrapper
          div.info
            h1 Situation
            p Growing company needs, client base and digital products library called for the website &amp; content update. Previous version of zectr.io was designed and developed in 2018 as a simple 3-page static website. It was decided to build the new version using CMS in order to make it accessible to marketing and brand people.

          div.info
            h1 Task
            p Working closely with marketing team, we identified 17 pages (7 static pages and 10 templates) that would sufficiently cover growing company needs. My task was to design desktop, mobile and tablet views for every page, plus multiple reusable components.
          div.info
            h1 Year
            p 2021
            h1 Website
            p
              a(href="https://www.zectr.io/", target="_blank") www.zectr.io

      section.balsamiq
        img(src="img/zectr-io/zectr-io-wireframes-line.jpg")
        div.content-wrapper
          div.info
            span.legend Low Fidelity Wireframes
          div.info 
            p 
              | During the initial phase of the project we created a set of low fidelity wireframes to outline basic content, functions and modules for every page. 
            p
              | This was done using 
              a(href="https://balsamiq.com/", target="_blank") balsamiq.com 
              | in collaboration with 
              a(href="https://www.linkedin.com/in/rohinichugani/", target="_blank") Rohini Chugani
              | , who was a marketing lead on this project.
          div.info
            
      section.home
        div.content-wrapper
          img(src="img/zectr-io/home-page.jpg")

        div.content-wrapper
          div.info
            span.legend Details of Home page
          div.info 
            p 
              | The goal for the redesign was to create a strong visual identity for a new SaaS product. I wanted to balance two paradigms&mdash;modern, young, bold startup, while providing a sense of security and trustworthiness for a new product on the market.
          div.info

      section.zectr-io-final
        img(src="img/zectr-io/zectr-io-all.jpg")
        
      div.content-wrapper
        .info
          span.legend Set of final high fidelity mockups for desktop and mobile
        .info
        .info

      section.section.gif
        div.content-wrapper
          .info
            p When working on the new design direction I was able to utilize existing brand elements without adding anything new, yet to re-work it in a way that would feel lively, fresh and bold.
          .info
        div.gif
          div.content-wrapper
            img(src="img/zectr-io/3-sizes-gif.gif")

    footer
      .content-wrapper
        h1.section-title Other projects
        include proj-zectr-app.jade 
        include proj-zectr-sgen.jade 
        include proj-zectr-brand.jade
        include proj-dataviz.jade

      include footer-contact
