doctype 5
html(lang="en")

  include head 

  body.zectr-sgen
    
    include header

    section.content

      header.project-header.content-wrapper
        h1.project-title Zectr Web App
        p.project-description Update existing survey web app.

      section.project-overview
        div.content-wrapper
          div.info
            h1 Situation
            p Zectr Web App started as a simple concept and over time under the market influence grew into a massive custom solution. It desperately needed a redesign, to identify patterns and make it simple again, while sustining newly acquired functionality.

          div.info
            h1 Task
            p To analyze multiple custom prjects in order to identify patterns, variations, flexibilities and produce a new design mockups within the new requirements.

          div.info
            h1 Year
            p 2020

      section.research
        div.content-wrapper
          div.one-third
            img(src="img/zectr-sgen/sgen-prep1.jpg")
          div.one-third
            img(src="img/zectr-sgen/sgen-prep2.jpg")
          div.one-third
            img(src="img/zectr-sgen/sgen-prep3.jpg")
          div.one-third
            img(src="img/zectr-sgen/sgen-prep4.jpg")
          div.one-third
            img(src="img/zectr-sgen/sgen-prep5.jpg")
          div.one-third
            img(src="img/zectr-sgen/sgen-prep6.jpg")
          span.legend Research. Modularization of existing projects

      section
        div.content-wrapper
          p During the initial stage of the project I looked through recent custom projects, finiding those that have both &mdash; custome and standard parts to them. Laying them all out in Excel allowed me to see patterns and distill insights. Some were quite unexpected and groundbraking &mdash; allowing development team to account to newly found variability.
          p In the next stage of the project while creating mockups, I was able to ceeate a very simple and robust design system, with custom symbols, element styles and text styles.

      section.ui-system
        div.content-wrapper
          div.custom.column-1
            img(src="img/zectr-sgen/ui-system.jpg")
          div.custom.column-2
            img(src="img/zectr-sgen/icons.jpg")


      section.mobile
        .content-wrapper
          div.photo-wrapper
            img(src="img/zectr-sgen/modules.jpg")
            span.legend Modules

      section.screens-info
        div.content-wrapper
          p As a part of the project I created more than 90 custom icons and multiple modules and elements.
          p This libabry of assests allowed to develop screens quickly and efficiently.

      section
        div.content-wrapper
          img(src="img/zectr-sgen/screens.jpg")


    footer
      .content-wrapper
        h1.section-title Other projects
        include proj-zectr-app.jade 
        include proj-zectr-brand.jade
        include proj-zectr-io-redesign.jade
        include proj-ux-workshop.jade 

      include footer-contact
