// iphone 5 landscape
@media screen and (min-height: 320px) and (orientation: landscape)
  .project-title
    margin-top: 10px;
    
  section
    padding-top: 70px;
    padding-bottom: 70px;
    
  .screen img
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  .palette .color
    height: 110px;
    max-width: 100%;
    
  .half-large
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    
  .animation .phone-img
    max-width: 84%;
    
  // goostame
  .goostame .inspiration .inspo-wrapper
    & span 
      margin-top: 15px;
      
    &:nth-child(3) img
    &:nth-child(4) img
      margin-top: 30px;
  
  .goostame .animation
    background-position-y: 51%;
    
  .goostame .img-animation-wrapper .animation
    width: 56.6%;
    top: 8.5%;
    left: 21.7%;
    
  .goostame .half-large img
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  // hashobject
  .hashobject .invoice 
    & .bg
      top: 10%;
      bottom: 0;
      
    & .half-large:nth-child(2)
      padding-bottom: 30px;
      padding-right: 1.5rem;
      
    & p
      margin-top: 90px;
      opacity: 0.85;
      letter-spacing: 0.2px;
    

    
  // ctfo
  .ctfo .mobile .photo-wrapper
    width: 50%;
    display: inline-block;
    vertical-align: top;
  
  
  .project
    height: 170px;
    
    &.project-cyclic
      background-size: 60%;
      
    &.project-lifelines
      background-size: 70%;
      
    &.project.project-hashobject
      background-size: 20%;




// iphone 6
@media screen and (min-width: 375px) and (orientation: portrait)
  .palette .quater .color
    height: 172px;
    
  .goostame .animation
    background-position-y: 64%;
    



// iphone 6 landscape    
@media screen and (min-height: 375px) and (orientation: landscape)
  .goostame .animation
    background-position-y: 51.5%;
    
  .cyclic .mobile .bg
    bottom: 35%;
    
  .project.project-ctfo
    background-size: 100%;
    
    

@media screen and (min-width: 350px)
  .project-title
    min-width: 70%;
    display: inline-block;
    padding-right: 0.5rem;



// iphone 6 Plus
@media screen and (min-width: 414px) and (orientation: portrait)
  .palette .quater .color
    height: 192px;
    
  .goostame .animation
    background-position-y: 59%;
    
  .project
    height: 200px;
    
    &.project-cyclic
      background-size: 70%;
    


// iphone 6 Plus landscape
@media screen and (min-height: 414px) and (orientation: landscape)
  section
    padding-top: 110px;
    padding-bottom: 100px;
    
  .palette .color
    height: 150px;
    
  .animation .phone-img
    max-width: 74%;
    
  .goostame .animation
    background-position-y: 50.5%;
    
  footer .project
    width: 48%;
    


@media screen and (min-width: 600px)
  .index .intro
    column-count: 2;
    max-height: 235px;
    
  footer .project
    height: 140px;
    margin-bottom: 25px;
    
@media screen and (min-width: 659px)
  .index .intro
    max-height: 215px;




// tablet and up
@media screen and (min-width: 737px)
  body
    padding-top: 75px;
      
  section
    padding-top: 130px;
    padding-bottom: 130px;
    
  .content-wrapper
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
  .half-large
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1rem;
    box-sizing: border-box;
    
  .hide-for-small
    display: block;
    
  .quarter
    width: 25%;
    padding-right: .5rem;
    padding-left: .5rem;
    
  .project-overview
    padding-top: 50px;
    padding-bottom: 100px;
    
  .project-title
    margin-top: 40px;
    min-width: 50%;
    
  .info
    display: inline-block;
    width: 44%;
    vertical-align: top;
    margin-top: 2rem;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem;
    
    &:first-child
      padding-left: 0;
    
    &:last-child
      width: 12%;
      padding-right: 0;
    
  .ctfo .mobile .photo-wrapper
    width: 33.2%;
    
  .cyclic .mobile .bg
    bottom: 35%;
    
  .hashobject .invoice .bg
    top: -5%;
    
  .hashobject .mobile.photo-wrapper
    position: absolute;
    bottom: 14%;
    right: 1%;
    
    & img
      max-width: 191px;
      
  .goostame .inspiration 
    & .inspo-wrapper:nth-child(3) img 
    & .inspo-wrapper:nth-child(4) img
      margin-top: 0;
      
  .goostame .animation
    background-position-y: 52.5%;
    
  .video iframe
    min-height: 420px;
    
  .inspiration .section
    max-width: 60%;
    
  .screen img
    width: 98%;
    
  .hashobject .mobile.photo-wrapper
    right: 8%;
    
  footer .project
    width: 48%;
    display: inline-block;
    vertical-align: top;
    
    &:nth-child(odd)
      float: right;
      
    &:nth-child(even)
      float: left;
      
  .project.project-cyclic
    background-size: 55%;
    
  .project.project-lifelines
    background-size: 85%;
    
  .projects
    overflow: hidden;
    
    & .cyclic
      width: 32%;
      float: left;
      margin-bottom: 23px;
    
    & .lifelines
      width: 65%;
      float: right;
      margin-bottom: 23px;
      
      
    & .ctfo
      width: 32%;
      float: left;
      margin-bottom: 22px;
      
    & .goostame
      width: 48%;
      float: left;
      
    & .hashobject
      width: 48%;
      float: right;
      
    & .project
      margin: 0;
      height: 200px;
      
      &.project-lifelines
        height: 422px;
        background-size: 95%;
        
      &.project-cyclic
        background-size: 70%;
        background-position: center bottom;
        
      &.project-goostame
        background-size: 120%;
        
      &.project-hashobject
        background-size: 30%;
        
  .project:hover 
    & .hover
      opacity: 0.9;
    & h1
      opacity: 1;
    & p
      opacity: 0.9;

  .project
    &.project-cyclic:hover .hover
      background: $cyclic-blue;
    &.project-lifelines:hover .hover
      background: $lifelines-blue;
    &.project-ctfo:hover .hover
      background: $ctfo-lime;
    &.project-goostame:hover .hover
      background: $goostame-orange;
    &.project-hashobject:hover .hover
      background: $hashobject-pink;
      
  .footer-contact
    width: 60%;
      
    
    

@media screen and (min-width: 737px) and (orientation: portrait)
  .goostame .screens .half-large
    width: 100%;
    
    &:last-child img
      margin-top: 50px;
      
  .screen img
    width: 124%;
    
  .hashobject .mobile.photo-wrapper
    right: 1%;
  
  .goostame .animation
    background-position-y: 55.5%;
    

@media screen and (min-width: 737px) and (orientation: landscape)
  .goostame .img-animation-wrapper .animation
    width: 63%;
    top: 8.35%;
    left: 18.5%;
    
  footer .project
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-right: 1.5%;
    
    &:nth-child(odd)
    &:nth-child(even)
      float: none;
      
    &:last-child
      margin-right: 0;
      
  .hashobject .invoice .half-large:nth-child(2)
    padding-right: 5.5rem;
    padding-left: 10%;
    
    & p
      margin-top: 170px;
      


      
@media screen and (min-width: 780px)
  .index .intro
    max-height: 186px;
 

@media screen and (min-width: 901px)
  .index .intro
    max-height: 162px;
    

@media screen and (min-width: 957px)
  .index .intro
    max-height: 138px;




@media screen and (min-width: 1025px)
  .ctfo .mobile .photo-wrapper
    width: 20%;
    
  .animation .phone-img
    max-width: 100%;
    
  .ctfo .mobile.animation .photo-wrapper
    width: 21%;
    
  .inspiration .section
    max-width: 40%;
    
  .screen img
    max-width: 1131px;
    
  .hashobject .mobile.photo-wrapper
    right: 21%;
    
  footer .project
    & h1
      opacity: 0;
      transition: 300ms;
      
    &:hover h1
      opacity: 1;
      
  .projects 
    & .project
      margin: 0;
      height: 350px;
    
      &.project-lifelines
        height: 732px;
        
      &.project-cyclic
        background-size: 85%;
      
  .projects .cyclic
  .projects .ctfo
  .projects .lifelines
    margin-bottom: 32px;

  

@media screen and (min-width: 1156px)
  .goostame .img-animation-wrapper .animation
    width: 728px;
    top: 49px;
    left: 50%;
    margin-left: -364px;


